/*#calibration-navbar {*/
/*    height: 33vh;*/
/*}*/

.canvas {
    z-index: 1;
    position: absolute;
    pointer-events: none;
}

.output_canvas {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

#landmarker-stats-monitor {
    position: absolute;
    right: 0;
    top: 0;
    width: 99px;
    z-index: 10001;
    background-color: rgba(0,0,0,0.1);
    border-bottom-left-radius: 16px;

    font-family: sans-serif;
    font-size: 8px;
    color: #000;

    .stats-grid {
        display: flex;
        flex-direction: column;

        padding: 4px
    }
}
