.SoloStimulusContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-items: center;
}
.video-calibration-point {
  float: right;
  border-radius: 50px;
  width: 50px;
  height: 50px;
/*position: absolute;
    top: 5vw;
    left: calc(50vw - 25px);*/
  z-index: 9999;
  background-color: #f00;
  transition: transform 0.2s;
}
@-webkit-keyframes pulsate-keyframes {
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0.9;
  }
  66% {
    -webkit-transform: scale(1.1, 1.1);
    opacity: 0.8;
  }
  33% {
    -webkit-transform: scale(0.9, 0.9);
    opacity: 1;
  }
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 0.9;
  }
}
.calibrated {
  background-color: #32cd32;
  transform: scale(0.7);
}
.pulsate {
  animation: pulsate-keyframes2 1s ease-in-out;
  animation-iteration-count: infinite;
  opacity: 0;
/*
    background-image: radial-gradient(red, yellow);
*/
/* you dont need the stuff below, but its what I used to create the loading circle */
/*border: 5px solid yellow;*/
  height: 50px;
  width: 50px;
  position: relative;
  display: inline-block;
  text-align: center;
}
.calibration-instructions {
  text-align: center;
  font-family: 'Avenir next', verdana, sans-serif;
}
.hide-webgazer-video #webgazerVideoFeed {
  display: none !important;
}
.hide-webgazer-video #webgazerVideoCanvas {
  display: none !important;
}
.hide-webgazer-video #webgazerFaceOverlay {
  display: none !important;
}
.hide-webgazer-video #webgazerFaceFeedbackBox {
  display: none !important;
}
.container {
  width: auto !important;
}
@-moz-keyframes pulsate-keyframes2 {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.8;
  }
}
@-webkit-keyframes pulsate-keyframes2 {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.8;
  }
}
@-o-keyframes pulsate-keyframes2 {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.8;
  }
}
@keyframes pulsate-keyframes2 {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.8;
  }
}
