.VideoPlayer {
  display: inline-block;
  pointer-events: none;
  width: 100%;
}
.VideoBlock {
  text-align: center;
}
.VideoBlock div {
  display: inline-block;
}
.video-wrapper {
  position: relative;
  padding-bottom: calc(41.5%);
  height: 0;
  margin-bottom: 1rem;
}
.video-wrapper video,
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
